@import url("https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap");

:root {
  --primary: #675954;
}

body {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

button {
  cursor: pointer;
}
header {
  background: var(--primary);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 1rem 3rem;
  font-weight: 600;
  font-size: 2rem;

  button {
    color: #fff;
    background: transparent;
    border: none;
  }

  .right {
    display: flex;
    gap: 2rem;

    & button {
      padding-inline: 0.5rem;
      border: solid 2px transparent;

      &.active {
        border-color: #fffc;
      }
    }
  }
}

#home {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: "Caudex", serif;
  font-size: 3rem;
}

#content {
  padding: 2rem;
}
