@font-face {
  font-family: "fallouty";
  src: url("../assets/fonts/r_fallouty.woff") format("woff");
}

@font-face {
  font-family: "brush";
  src: url("../assets/fonts/Brush-Script-Normal-Italic.woff2") format("woff2");
}

:root {
  /* --primary: 120, 84%, 55%; */
  --white: 193, 100%, 90%;
  --amber: 39, 98%, 54%;
  --green: 135, 75%, 54%;
  --bluegreen: 184, 81%, 53%;
  --bg: #111;
}

#small-screen-fallback {
  display: none;
}

[theme="green"] {
  --primary: var(--green);
}
[theme="amber"] {
  --primary: var(--amber);
}
[theme="white"] {
  --primary: var(--white);
}
[theme="bluegreen"] {
  --primary: var(--bluegreen);
}

body:not([show-completed]) .completed {
  display: none !important;
}
*:not(input[type="text"]):not(textarea) {
  user-select: none;
}
::selection {
  background: hsl(var(--primary));
  color: var(--bg);
}
body {
  color-scheme: dark;
  --glow: 0 0 7px hsl(var(--primary), 0.4);
  /* --screen-glow: radial-gradient(
    circle at 85% 20%,
    hsl(var(--primary), 0.05),
    transparent 30%,
    transparent 60%,
    #000a
  ); */
  --screen-glow: radial-gradient(
    circle at center,
    hsl(var(--primary), 0.03),
    transparent 40%,
    transparent 80%,
    #0006
  );
}
.overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  background: linear-gradient(to top, transparent, transparent, #0001, #0002);
  background-size: cover;
  background-size: 100% 6px;
  z-index: 100;
  overflow: clip;

  &.glow:after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background: var(--screen-glow);
  }
  #scanline {
    width: 100%;
    height: 100px;
    /* z-index: 8; */
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(255, 255, 255, 0.2) 10%,
      rgba(0, 0, 0, 0.1) 100%
    );
    opacity: 0.1;
    position: absolute;
    bottom: 100%;
    animation: scanline 13s linear infinite;
  }
}
body {
  color: hsl(var(--primary));
  text-shadow: var(--glow);
  border-color: hsl(var(--primary));
  font-family: fallouty;
  font-weight: 400;
  accent-color: hsl(var(--primary));
  background: var(--bg);
  overscroll-behavior: none;
  overflow: clip;
  height: 100dvh;
  width: 100dvw;
}

#app {
  display: flex;
}
h1,
h2,
h3 {
  font-weight: 500;
}
.brush {
  display: flex;
  align-items: center;
  font-family: "brush";

  .big {
    font-size: 4.5rem;
  }
  .medium {
    font-size: 3.5rem;
  }
}
.sans {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 3.5rem;
  font-stretch: condensed;
}

header {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  padding: 2rem 0.5rem;

  background: none;
  border-right: solid 2px;
  padding: 2rem 0;

  #logo {
    font-size: 2.5rem;
    position: relative;
    padding-inline: 2rem;
    padding-bottom: 2rem;
    height: 120px;

    .brush {
      rotate: -15deg;
      translate: 0 -1rem;
    }
    .sans {
      position: absolute;
      left: 45%;
      top: 25%;
    }
  }
}

nav {
  min-height: 0;
  flex-grow: 1;
  display: flex;

  ul {
    list-style: none;
    padding: 0;

    button {
      padding-inline: 2.5rem;
      width: 100%;
      text-align: start;
    }
  }
  & > ul {
    display: grid;
    grid-template-rows: 1fr min-content;
    max-height: 100%;
    width: 100%;
    gap: 1rem;

    .nav-top {
      min-height: 0;
      display: grid;
      grid-template-rows: min-content min-content minmax(0, 1fr);
    }
  }

  & li:not(.nav-section):not(#new-task):not(#new-project-btn) {
    position: relative;
    padding-block: 0.2rem;

    &:hover:before,
    &:focus:before,
    &.active:before {
      content: "\25B2";
      position: absolute;
      rotate: 90deg;
      top: 17%;
      left: 0.7rem;
    }
  }
  & #projects {
    display: grid;
    grid-template-rows: min-content minmax(0, min-content) 1fr;

    ul {
      overflow-x: auto;
      margin-bottom: 0.5rem;

      .delete-project-dialog {
        padding-right: 2rem;
      }
      div {
        display: flex;

        &:hover .delete-project-dialog {
          visibility: visible;
        }
      }

      & .project-btn {
        padding-right: 0.5rem;
        &::before {
          content: "#";
          font-style: italic;
        }
      }
    }
  }

  & #settings button::before {
    content: "✱";
  }

  li.active {
    background: hsl(var(--primary));
    box-shadow: var(--glow);
    border-radius: 0;

    &:before {
      content: "";
    }

    button {
      color: var(--bg);
    }
  }
  button {
    border: none;
    display: flex;
    gap: 0.7rem;
    align-items: center;
  }

  & #new-task-btn::before,
  & #today-btn::before,
  & #credits-btn::before {
    border: solid 1.5px;
    height: 1rem;
    width: 1rem;
    line-height: 1.1rem;
    text-align: center;
    padding-left: 1px;
  }
  & #new-task-btn::before {
    content: "+";
    border-radius: 100%;
    font-size: 0.9rem;
  }
  & #credits-btn::before {
    content: "i";
    border-radius: 100%;
    font-size: 0.8rem;
    font-family: sans;
    font-weight: 900;
    line-height: 0.8rem;
  }
  & #today-btn::before {
    content: "13" !important;
    border-top-width: 4px;
    font-size: 0.6rem;
    font-style: normal !important;
    display: flex;
    align-items: anchor-center;
    justify-content: center;
  }
  & #new-project {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 0;
    inset: 0;

    & #new-project-btn {
      display: flex;
      border-radius: 100%;
      font-size: 1.1rem;
      border: solid 1.5px;
      width: 1.5rem;
      padding: 0;
      height: 1.5rem;
      justify-content: center;
      padding-top: 4px;
      padding-left: 0.5px;
    }
  }
}

.h-container {
  display: flex;
  justify-content: center;
  position: relative;
  padding-block: 0.5rem;

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0.5rem;
    width: calc(100% - 1rem);
    height: 1px;
    background: hsl(var(--primary));
    box-shadow: var(--glow);
    z-index: -1;
  }
  h2 {
    padding-inline: 0.5rem;
    font-size: 1.2rem;
    background: var(--bg);
  }
}

button {
  width: fit-content;
  padding: 0.25rem 1rem;
  cursor: pointer;
  background: none;
  color: hsl(var(--primary));
  text-shadow: var(--glow);
  border: solid 1.5px hsl(var(--primary));
  border-radius: 0;
}

.delete-project-dialog,
.delete-task-btn {
  visibility: hidden;
  font-family: Arial;
  font-size: 0.8rem;
  line-height: 0;
  width: 1rem;
  padding-inline: 0;
  border: none;
  min-height: 2rem;
  justify-content: center;
}

dialog,
input,
textarea,
select {
  border: solid 1.5px hsl(var(--primary));
  color: hsl(var(--primary));
  text-shadow: var(--glow);
  background: var(--bg);
  caret-shape: block;
  caret-animation: manual;
}

.label-container {
  display: flex;
  justify-content: space-between;
}

[invalid] input:invalid {
  outline-width: 2px;
  outline-style: solid;
  outline-offset: 2px;
  animation: flashing-outline 1s 3;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

select {
  &::picker(select) {
    border-radius: 0;
  }
  option {
    font-family: fallouty, Arial;
  }
}
.required label:after {
  content: "*";
}
select {
  min-height: 1.79rem; /* chrome */
}
textarea {
  resize: none;
}
option {
  background: var(--bg);
}

option:hover,
option:focus {
  background: hsl(var(--primary));
  color: var(--primary);
}

button,
input,
textarea,
select {
  &:focus-visible {
    outline-color: hsl(var(--primary));
    outline: solid 2px hsl(var(--primary));
    outline-offset: 2px;
    outline-style: dotted;
  }
}

input,
textarea,
select {
  padding-inline: 1rem;
}
[type="radio"],
[type="checkbox"] {
  appearance: none;
  width: 0.8rem;
  height: 0.8rem;
  border: solid 1.5px hsl(var(--primary));
  position: relative;
  padding: 0;
  box-shadow: var(--glow);
  cursor: pointer;

  &:checked::after {
    content: "";
    position: absolute;
    height: 6px;
    width: 6px;
    background: hsl(var(--primary));
    top: 2px;
    left: 2px;
  }
}

.checkbox {
  flex-direction: row-reverse;
  gap: 0.5rem;
  align-items: baseline;
  justify-content: flex-end;
  &:first-of-type {
    padding-top: 1rem;
  }
}
fieldset {
  border-color: hsl(var(--primary));
  display: flex;
  flex-direction: column;
  align-items: start;

  &.radio > div {
    flex-direction: row-reverse;
    gap: 0.5rem;
  }

  &#priority {
    flex-direction: row;
    justify-content: space-between;
  }

  div {
    display: flex;
    gap: 1rem;
    align-items: baseline;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 1rem;

  & > div {
    display: flex;
    flex-direction: column;
  }
}
dialog {
  position: absolute;
  min-width: min(80dvw, 400px);
  padding: 0;
  overflow-x: hidden;
  box-shadow:
    var(--glow),
    7px 7px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1.5px;
    background: repeating-linear-gradient(
      transparent,
      transparent 4px,
      hsl(var(--primary)) 4px,
      hsl(var(--primary)) 5px
    );
    cursor: move;
  }

  h2,
  h3 {
    padding-inline: 1rem;
    border-right: solid 1.5px;
    background: var(--bg);
  }

  .close-btn {
    position: relative;
    width: 2rem;
    height: 1.8rem;
    overflow: clip;
    padding: 0;
    color: transparent;
    text-shadow: none;
    border: none;
    background: var(--bg);
    border-left: solid 1.5px hsl(var(--primary));

    &:before {
      content: "X";
      position: absolute;
      width: 100%;
      color: hsl(var(--primary));
      text-shadow: var(--glow);
      font-family: monospace;
      font-weight: bold;
      line-height: 1.5rem;
    }
  }

  .task-details {
    padding: 2rem;

    .description {
      padding-bottom: 1rem;
    }
    & > div {
      display: flex;
      gap: 1rem;

      &:has(.notes-content) {
        flex-direction: column;
        gap: 0;
      }
    }
  }
}

#dialog-backdrop {
  backdrop-filter: brightness(50%);
  position: fixed;
  inset: 0;
}

main {
  flex-grow: 1;
  height: 100dvh;
  display: grid;
  grid-template-rows: min-content minmax(0, 1fr);

  #main-header {
    position: relative;
    display: flex;
    justify-content: center;
    padding-block: 0.5rem;
    background: hsl(var(--primary));
    color: var(--bg);

    button {
      position: absolute;
      right: 2rem;
      color: var(--gb);
      border-color: var(--gb);
      width: 120px;
      text-align: center;
    }
  }
  .main-content {
    display: grid;
    grid-template-rows: repeat(2, minmax(0, min-content));
  }
  section {
    position: relative;

    &#upcoming {
      display: grid;
      grid-template-rows: min-content minmax(0, 1fr);
    }

    .msg {
      text-align: center;
      padding-block: 2rem 1rem;
    }
  }
}

.task-list-container {
  display: flex;
  justify-content: center;
  padding-inline: 2rem;
  max-height: 100%;
  overflow-y: auto;

  ul {
    list-style: none;
    padding: 1rem 0 2rem 0;
    overflow: clip;
  }

  .toggle-complete {
    margin-top: 0.45rem;
  }

  .btn-container {
    padding-top: 0.6rem;
  }

  & li:hover {
    .delete-task-btn {
      visibility: visible;
    }
  }

  .task {
    width: 360px;
    display: flex;
    position: relative;
    gap: 2rem;
    padding-block: 1rem;
    margin-right: 2rem;
    border-bottom: solid 1px;

    .task-details-btn {
      border: none;
      padding: 0;
    }
    .delete-task-btn {
      position: absolute;
      right: -1.5rem;
    }
    h3 {
      text-align: start;
      font-size: 1.2rem;
    }
  }

  & li:last-child .task {
    border-bottom: none;
  }

  .task-body {
    flex-grow: 1;
  }
  .details {
    position: relative;
    display: flex;
    justify-content: space-between;
    line-height: 1.1;
  }

  .priority {
    min-width: 20px;
    text-align: center;
  }
  .overdue,
  .critical,
  .high {
    background: hsl(var(--primary));
    color: var(--bg);
    padding-inline: 0.25rem;
  }

  .low > span {
    font-size: 0.7rem;
  }

  .completed {
    padding-block: 0.2rem;

    .btn-container {
      display: none;
    }

    .title {
      text-decoration: line-through;
      text-decoration-thickness: 2px;
      text-decoration-inset: -0.5rem;
    }
    .details {
      display: none;
    }
  }
}

#delete-quest-dialog {
  .content {
    padding: 1rem;
  }
  .btn-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
  }
}
@keyframes scanline {
  0% {
    bottom: 100%;
  }
  90% {
    bottom: 100%;
  }
  100% {
    bottom: -20%;
  }
}

dialog#credits-dialog {
  padding: 1rem;

  & > div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  h1 {
    display: flex;
    font-size: 2.5rem;
    justify-content: center;
    padding-bottom: 1rem;

    .sans {
      margin-top: 0.5rem;
    }
  }

  h2 {
    padding: 0;
    border: none;
  }

  a {
    color: inherit;
  }

  #author {
    align-self: end;
  }
}

.tooltip-container {
  position: relative;
}
[role="tooltip"] {
  visibility: hidden;
  position: absolute;
  top: 1.2rem;
  left: 1.2rem;
  background: var(--bg);
  color: hsl(var(--primary));
  padding: 0.5rem;
  border: solid 1.5px hsl(var(--primary));
}
[aria-describedby]:hover + [role="tooltip"],
[aria-describedby]:focus + [role="tooltip"] {
  visibility: visible;
  z-index: 100;
  transition: visibility 0s 0.5s;
  width: max-content;
}

#render-jank {
  position: absolute;
  inset: 0;
  background: #000;
  top: 100%;
  z-index: 100;
  border-top: solid 2px hsl(var(--primary), 0.2);
}

@keyframes flashing-outline {
  from {
    outline-color: transparent;
  }

  to {
    outline-color: hsl(var(--primary));
  }
}
@media (width < 40rem) {
  #app {
    display: none;
  }
  #small-screen-fallback {
    display: flex !important;
    height: 100%;
    justify-content: center;
    padding-block: 5rem;
    padding-inline: 1rem;

    & > div {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    h1 {
      font-family: brush;
      font-size: 3rem;
    }
  }
}
